body{
  font-family: 'Titillium Web', sans-serif;

}
.bg-purple{
    background: #87509c;
  /*    height: 94px;*/
    }
    .navbar{
      margin:0 0;
      
    }
#navtop{
  padding-top: 57px;
}
#navb a{
    margin-left: 4px;
    border-radius: 10px;
    padding:10px 17px;
}
#navb a:hover{
    background-color: #643a79;

}
    .navbar-brand{
      margin-left: 62px;
  /*    margin-top: 56px;*/
    }
    .navbar-collapse{
    /*  margin-top: 56px;*/
    }
    .navbar-nav{
      margin-right: 45px;
    }

#headertext{
  font-size: 42.16pt;
  font-weight: bolder;
  padding: 145px 0px 62px 0px;
}
#btn-work-with-us{
        margin-bottom: 145px;
        background-color: #eb7d4b;
        padding: 28px 82px 25px 82px;
        border-bottom: solid 3px #c86a40;
}
.bg-seagreen{
  background-color: #17c2a4;

}
#midtext{
  font-size: 40pt;
  padding-top: 192px;
}
.hd1{
    border: 2px solid black;
    opacity: 0.149;
    width: 87px;
}
/*#subtext{
  font-size: 18pt;
}*/
.my-row{
  padding-top: 82px;

}
#logos{
    height: 135px;
}

.my-row2{
  padding-top: 63px;
}
.descrow{
  padding-top: 58px;
}

#subtitle{
  padding-top: 28px;
  padding-bottom: 129px;
}

.bg-whitey{
   background-color: #e7f1f8;
}
#bottext{
  font-size: 40pt;
  padding-top: 119px;
  color: #3c4761;
}
#subtext2{
   color: #3c4761;

 }
 #grays{
    background-color: #878787;
    width: 200px; height: 200px;
    border-radius: 50%;
    
 }
 .graybilog{
  /*margin-top: 79px;*/
  margin-bottom: 418px;
 }
 #mugshots{
  margin-top: 78px;
  margin-left: 50px;
  margin-right: 50px;
 }
 #mugname{
  padding-top: 242px;
  color: #3c4761;
 }
#titles{
    color: #30bae7;
  padding-bottom: 10px;
}
.rounded-circle{
  margin-top: 10px;
  background-color: #bdd1df;
  height: 33px; width: 33px;
  border-radius: 50%;
  margin-bottom: 127px;
}
#logcon{
 padding-top: 9px;  
}
.color-white{
  color: white;
}
.bg-darkblue{
  /*padding-top: 327px;*/
  border-top: solid 9px #3c5499; 
  background-color: #344b8e; 
    
}

.bg-lightwhite{
  background-color: white;
}
#bottext2{
  padding-top: 119px;
}
.my-progressbar{
  padding-top: 86px;
}
.barname{
  padding-top: 35px;
  padding-bottom: 124px;
}

.bg-brownie{
  background-color: #ffdd99;
}

#bottext3{
  padding-top: 119px;
}
#subtext3{
  padding-bottom: 46px;
}

.btn-brwn{
  margin-bottom: 63px;
  padding: 12px 26px 12px 26px;
  background-color: #ebc985;
  margin-right: 10px;
}
#brwnbtn button:hover{
  background-color: white;
}

#laptop{
  width: 540px;
/*  height: 310px;*/
  padding-bottom: 34px;
}
.laptop-text{
  padding-bottom: 65px;
}

#btn-load-more-project{
        margin-bottom: 145px;
        background-color: #17c2a4;
        padding: 28px 82px 25px 82px;
        border-bottom: solid 3px #14a58c;
}

.bg-pinky{
  background-color: #d74680;
}

#bottext4{
  padding-top: 119px;
}
/*#subtext4{
  padding-bottom: 70px;
}*/
#mugshotspink{
  padding-top: 54px;
}

 #pinkgrays{
    background-color: #787878;
    width: 96px; height: 96px;
    border-radius: 50%;
    
 }
 #their-quotes{
  width: 350px;
 }

 .bg-bluei{
  background-color: #3c5499;
}
.form-group{
  width: 416px;
  margin-right: 140px;
  margin-left: 140px;
    background-color: #273a71;
}
.form-msg{
  width: 860px;
}

::placeholder{
  color: white;

}


.soclink a:hover{
    color: #30bae7 !important;
}
.soclink a:link{
  
  text-decoration: none;
}


#navfoot{
  padding-top: 48px;
  padding-bottom: 48px; 
  padding-left: 250px;
  padding-right: 250px;
}
