.body {
  font-family: "Roboto",sans-serif;
}

.navbar-custom{
	background-color: #87c232;

}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text {
	color: rgba(255,255,255,.8);
	/*padding: 0.8rem 1rem;*/
}

.nav-custom .navbar-nav .nav-link {
	color: rgba(255, 255, 255, .5);
	padding: 1rem 1rem;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	color: #ffffff;
	background-color: #474a4f;
}
/*.carousel-item {
    height: 500px;
}
.carousel {
  width:100%;
  height:auto;
}*/

.img-fluid{
	margin-top: 10px;
	max-width:50%;
	max-height:50%;
}
/*.container-imahe{
	max-width: 100%
}*/
.container-fluid-caro{
	max-width: 100%;
	max-height: 70%;
}
.container-hdngs{
	background-color: #87c232; 
}
.row-height{
	height: 40px;
    text-align: center;
 }
 .col-12{
 	width: 100%;
 	background-color: #87c232; 
 }
.card{
	height: 380px;
	/*margin-left: 60px;*/
}
.display{
	float: right;
}

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 36px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 41px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 49px;
  }
}

/*.column{
	float: left;
	width: 30%;
	padding: 5px;
}*/