.my-col-head{
    background-color: #E83338;
    height: 50px;
}
.navbar{
    background-color: #E83338;
}
.btn{
    background-color: #FFFFFF;
}
.navbar-brand{
    height: 50px;

}
.carousel-item{
    object-fit: cover;
 }
.my-container{
    max-height: 400px;
}
.my-col-left {
    background-color: black;
}
.my-col-right{
    background-color: black
}

.card-body{
    text-align: center;
}


/*.carousel-inner {
    width: 100%;
    height: 100%; 
}
.carousel-item{
    width: 60vw;
    height: 70vh;
}*/

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 36px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 41px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 49px;
  }
}

