ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #474a4f;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #87c232;
}

.active {
	background-color: #87c232;
}

.carousel-inner img {
      width: 100%;

  }

 .carousel-slide {
 	 background:#87c232;
  width:100%;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
 }

 .picdisplay{
	margin-top: 30px;
	border-radius: 50%;
	width: 15%;
	margin-left: 60px;
	margin-right: auto;
	display: block;
 }

 .nme{
 	color: #474a4f;
 		margin-left: 75px;
 }

 .profilepic{
 	border-left: 5px solid;
 }