*{
    margin: 0;
    padding: 0;
}
.bg-webtop{
    background: #1D2228;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; */
    padding: 10px 100px;
    box-sizing: border-box;
     
    background: #1D2228;
    transition: .5s;
}
nav:hover{
    background: #1D2228;
}
nav.black{
    background-color: rgba(60, 116, 143, 0.3);
}
/* .navbar{
    background: #1D2228 !important;
    
} */
.nav-item{
    margin-right: 1rem;
    margin-left: 1rem;
    color: #E1E2E2 !important;
}

.navbar .navbar-nav > li:hover{
    background: #FB8122; 
    color: #1D2228 !important;
    border-radius: 5px;
}


.bg-body{
    background: #E1E2E2;
}
.carou-slides{
    position: relative;
    padding-top: 5rem;
    padding-bottom: 1rem;
   
}

.colored-text{
    color: #FB8122;
}
h1{
  border-bottom: 2px solid #1D2228;
  width: auto;
  margin: 10px 0px 15px 0px;
  display: inline-block;
}
.desciption-text{
    text-align: center;
}
.row{
    padding-top: 20px;
    padding-bottom: 20px;
}
.inner-title{
    text-align: center;
}
.inner-text{
    text-align: right;
}
.image-sample >img{
    width: auto;
    height: auto;
}
.vector-icons{
    padding-bottom: 20px;
}
.vector-icons>img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.card-body > img{
    width: 50%;
    align-content: center;
    transform: translateY(-50%);
}
.card{
    margin-top: 25px;  
    height: 350px;
    border-radius: 0;
    box-shadow: 5px 5px 15px #FB8122;
    transition: all 0.3s ease-in;
    text-align: center
}
.card .team-contents{
    transform: translateY(-25%);
}
.card i{
    color: #1D2228;
    font-size: 2rem;
}
.card:hover{
    background: #FB8122;
    color: #1D2228;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #1D2228;
}
.card .team-contents:hover, .card i:hover{
    color: white;
}

@media only screen and (max-width: 1080px) {
    .inner-text{
        text-align: center;
    }
    .card{
        margin-bottom: 70px;
    }
    .card-body > img{
        width: 40%;
        align-content: center;
        transform: translateY(-75%);
    }
    .card .team-contents{
        transform: translateY(-20%);
    }
  }
