html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Saira Extra Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 40px;    
}
h5{
    font-size: 25px;
}
h6{
    font-size: 23px;
}
.bg-headernav{
    background: #231D22;
}
.navbar{
    margin:0 0;
    overflow: hidden;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
  
  }
#grpk-logo{
    width: 150px;
/*    height: 90px;*/
}
#navtop{
padding-top: 57px;
}
#navb a{
  margin-left: 4px;
  border-radius: 10px;
  padding:10px 17px;
}
#navb a:hover{
  background-color: #F1CA05;

}
  .navbar-brand{
    margin-left: 62px;

  }

  .navbar-nav{
    margin-right: 45px;
  }
.bg-cover{
    background-image: url('coverk.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 450px;
    display: flex;
    background-position: center;
    background-attachment: scroll;
    background-attachment: fixed;
    /*align-items: center;
    position: relative;*/

}
.color-overlay{
    height: 450px;
    width: 100%;
    background: #231D22;
    opacity: .7;
    position: absolute;
}
.welcome-text{
  text-align: center;
  position: absolute;

  transform: translate(-50%, -50%); 
  width: 100%
  z-index: 1;

}
.welcome-text span{
  
  text-transform: uppercase;

  
}
.text1{
  color: #F1CA05;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
 
}
.text2{
  font-size: 30px;
  color: white;
 
}
}
#header-text{
font-size: 42.16pt;
font-weight: bolder;
padding: 145px 0px 145px 0px;
z-index: 1;
}
#head-contact{
   
    font-size: 40px;
    border-radius: 50%;
}
.fa-facebook{
    padding-right: 10px;
}


.bg-biography-section{
    background: #F1CA05;
   
}
.my-name{
    padding-top: 20px;
}
#educ-attainment{
    padding-top: 40px;
}
.school-text{
    padding: 20px 0px 20px 0px;
}
.year-text{
    padding: 20px 0px 20px 0px;    
}

.bio-row{
    padding-top: 40px;
}

.my-avatar{
    width: 250px;
    height: 250px;
}
#techskills-text{
    padding-top: 40px;
}


.devicons{
    padding-top: 30px;
    padding-bottom: 30px;
}
#devicon-skills{
    
    font-size: 150px;
}

.bg-subfoot{
    
    background-image: url('coverk.jpg');
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: scroll;
    background-attachment: fixed;
}
.color-overlay2{
    height: 100%;
    width: 100%;
    background: #F1CA05;
    opacity: .7;
    position: absolute;
}
#foot-text{
    font-size: 42.16pt;
    font-weight: bolder;
    padding: 145px 0px 145px 0px;
    z-index: 1;
    color:  #231D22;
    }

.bg-footer{
        background: #231D22;
}
.credits{
        padding: 50px 0px 0px 0px;
        font-size: 12px;
}
    
.contacts{
        line-height: 80%;
}
#socialmedia{
    font-size: 24px;
    color: #3b5998;
}